body{
    background-image:url("nature.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    
    
}
div{
    margin-left:500px;
    margin-top:300px;
    color:white;
   
}
.las
{
    padding-left:100px;
}
.moro
{
    padding-left:110px;
}